<h1>{{ 'email.verify.content.head'|trans }}</h1>

<p>
    {{ 'email.verify.content.text1'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'email.verify.content.linktext'|trans }}</a>.
    {{ 'email.verify.content.text2'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


