{% macro card(path,head="",icon,content="", class="headercarddashboarddefault") %}
    <div class="col align-items-center d-flex justify-content-center">
        <div class="card bg-transparent card-block d-flex carddashboard">
            <div class="card-header align-items-center d-flex justify-content-center {{ class }}">
                {% if content == "0" %}
                    {{ icon|raw }}&nbsp;{{ head }}
                {% else %}
                    <a href="{{ path }}">{{ icon|raw }} {{ head }}</a>
                {% endif %}
            </div>
            <div class="card-body align-items-center d-flex justify-content-center">
                <span class="dashboard-body-content">{{ content }}</span>
            </div>
        </div>
    </div>
{% endmacro %}
