<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
        <a href="{{ path('app_index') }}" class="navbar-brand">
            <i class="bi bi-calendar4-week logo_header"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% if nav is defined and nav == 'dashboard' %}active{% endif %}" aria-current="page" href="{{ path('app_index') }}">Dashboard</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link {% if nav is defined and nav == 'seeder' %}active{% endif %}" href="{{ path('app_seeder_index') }}"><i class="bi bi-shop"></i> Seeders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if nav is defined and nav == 'seed' %}active{% endif %}" href="{{ path('app_seed_index') }}"><i class="bi bi-egg-fill"></i> Seeds</a>
                    </li>
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle {% if nav is defined and nav == 'plant' %}active{% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-flower1"></i> Plantes
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_plant_index') }}">Toutes({{ render(path('app_plant_count', {state: '*'})) }})</a></li>
                            {% for state in states %}
                                <li><a class="dropdown-item {% if not function_count(state.value) %}disabled{% endif %}" href="{{ path('app_plant_list', {'slug': state.value}) }}">{{ state.value }} ({{ render(path('app_plant_count', {state: state.value})) }})</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if nav is defined and nav == 'recoltes' %}active{% endif %}" href="{{ path('app_recolte') }}"><i class="bi bi-archive"></i> Recoltes</a>
                </li>
                {% endif %}
            </ul>
            {% if is_granted('ROLE_USER') %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>{{ app.user.email }}
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}"><i class="bi bi-person-check-fill icons" ></i> &nbsp;&nbsp;</a><a href="{{ path('app_register') }}"><i class="bi bi-person-fill-add icons"></i></a>
            {% endif %}
        </div>
    </div>
</nav>
