{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
<span class="changestate">{{ 'modals.changestate.pass'|trans }} <b>{{ plantname }}</b> {{ 'modals.changestate.to'|trans }} {{ "common.#{  nextstep|lower }"|trans }}</span>
