{% extends 'breeder/base.html.twig' %}
{% block title %}{{ 'breeder.index.page_title'|trans }}{% endblock %}
{% block body %}
    <div class="content-base">
        <table class="table datatables bg-transparent breedertable" data-url="{{ path('app_breeder_ajax') }}" data-noimg="{{ asset('img/no-img.png') }}" data-version="{{ app.user.id }}">
            <thead>
            <tr>
                <th class="header_action no-sort"></th>
                <th>{{ 'breeder.index.table.name'|trans }}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
