{% extends('breeder/base.html.twig') %}
{% block title %}Breeder{% endblock %}
{% block body %}
    <h1>Breeder {{ breeder.name }}</h1>

    <table class="table datatables stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Auto</th>
                <th>Duration</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for strain in breeder.strains %}
            <tr>
                <td>{{ strain.name }}</td>
                <td>{{ strain.auto }}</td>
                <td>{{ strain.duration }} jours</td>
                <td>{{ strain.type }}</td>
                <td>{{ function_format_description(strain.description)|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_breeder_index') }}">back to list</a>

    {#<a href="{{ path('app_seeder_edit', {'id': seeder.id}) }}">edit</a>

    {{ include('seeder/_delete_form.html.twig') }}#}
{% endblock %}
