{% extends 'base.html.twig' %}

{% block body %}


    {#<div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>#}<!-- End Page Title -->
 {% if data_dashboard %}
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="card info-card blue-card">
                            <div class="card-body">
                                <h3 class="card-title"><a href="{{ path('app_seeder_index') }}">Seeders</a></h3>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-shop"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ data_dashboard.seeders }}<i class="fa fa-youtube"></i></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card info-card green-card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_seed_index') }}">Variétés de graines</a></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-egg-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ data_dashboard.seed_type }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card info-card orange-card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_seed_index') }}">Nombre de graines</a></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-egg-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ data_dashboard.seed_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="card info-card blue-card">
                            <div class="card-body">
                                <h3 class="card-title"><a href="{{ path('app_plant_list', {'slug': 'Germination'}) }}">Germinations</a></h3>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-brightness-alt-high"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>
                                            {%  if constant('App\\Entity\\EnumStates::GERM').name in data_dashboard.plants|keys %}
                                                {%  set key = constant('App\\Entity\\EnumStates::GERM').name %}
                                                {{ data_dashboard.plants[key] }}
                                            {% else %}
                                                0
                                            {% endif %}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card info-card green-card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_plant_list', {'slug': 'Croissance'}) }}">Croissances</a></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-flower3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{%  if constant('App\\Entity\\EnumStates::CROIS').name in data_dashboard.plants|keys %}
                                                {%  set key = constant('App\\Entity\\EnumStates::CROIS').name %}
                                                {{ data_dashboard.plants[key] }}
                                            {% else %}
                                                0
                                            {% endif %}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card info-card orange-card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_plant_list', {'slug': 'Prefloraison'}) }}">Préfloraisons</a></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-flower2"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{%  if constant('App\\Entity\\EnumStates::PREFLO').name in data_dashboard.plants|keys %}
                                                {%  set key = constant('App\\Entity\\EnumStates::PREFLO').name %}
                                                {{ data_dashboard.plants[key] }}
                                            {% else %}
                                                0
                                            {% endif %}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card info-card red-card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_plant_list', {'slug': 'Floraison'}) }}">Floraisons</a></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-flower1"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{%  if constant('App\\Entity\\EnumStates::FLO').name in data_dashboard.plants|keys %}
                                                {%  set key = constant('App\\Entity\\EnumStates::FLO').name %}
                                                {{ data_dashboard.plants[key] }}
                                            {% else %}
                                                0
                                            {% endif %}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card info-card darkred-card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_plant_list', {'slug': 'Recolte'}) }}">Recoltes</a></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-archive"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{%  if constant('App\\Entity\\EnumStates::REC').name in data_dashboard.plants|keys %}
                                                {%  set key = constant('App\\Entity\\EnumStates::REC').name %}
                                                {{ data_dashboard.plants[key] }}
                                            {% else %}
                                                0
                                            {% endif %}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <!-- ======= Footer ======= -->
    {#<footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer>#}<!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
{% endblock %}

