{% extends 'seed/base.html.twig' %}

{% block title %}Seed index{% endblock %}

{% block body %}
<main id="main" class="main">
    <table class="table datatables stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Seeder</th>
                <th>Quantity</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seed in seeds %}
            <tr>
                <td>{{ seed.name }}</td>
                <td>{{ seed.seeder.name }}</td>
                <td>{{ seed.Quantity }}</td>
                <td>{{ seed.Duration }}</td>
                <td>
                    <a href="{{ path('app_seed_show', {'id': seed.id}) }}"><i class="bi bi-eye button_action"></i></a>
                    <a href="{{ path('app_seed_edit', {'id': seed.id}) }}"><i class="bi bi-pencil-square button_action"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seed_new') }}">Create new</a>
</main>
{% endblock %}
