<h6>{{ 'form.info.breeder'|trans }} : {{ strain.breeder.name }}</h6>
<h6>{{ 'form.info.strain'|trans }} : {{ strain.name }}</h6>

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
