{% extends 'my_seeds/base.html.twig' %}

{% block title %}{{ 'myseeds.index.page_title'|trans }}{% endblock %}

{% block body %}
    {% include('/modals/modal_add_plant.html.twig') %}
    {% include('/modals/modal_my_seeds_info.html.twig') %}
    <div class="content-base">
        <h1 class="title_my_plants">{{ 'strain.index.title'|trans }}</h1>
        <a href="{{ path('app_my_seeds_new') }}"><i class="bi bi-plus-circle button_action"></i> {{ 'form.title.strain.new'|trans }}</a>
        <table class="table datatables bg-transparent" data-url="{{ path('app_my_seeds_ajax') }}" data-noimg="{{ asset('img/no-img.png') }}">
            <thead>
                <tr>
                    <th></th>
                    <th class="logostrain"></th>
                    <th>{{ 'myseeds.index.table.head.name'|trans }}</th>
                    <th>{{ 'myseeds.index.table.head.seeder'|trans }}</th>
                    <th>{{ 'myseeds.index.table.head.quantity'|trans }}</th>
                    <th>{{ 'myseeds.index.table.head.duration'|trans }}</th>
                    <th class="logostrain">{{ 'myseeds.index.table.head.auto'|trans }}</th>
                    <th class="logostrain">Type</th>
                    <th class="logostrain">{{ 'myseeds.index.table.head.comment'|trans }}</th>
                </tr>
            </thead>
        </table>

        <a href="{{ path('app_my_seeds_new') }}"><i class="bi bi-plus-circle button_action"></i> {{ 'form.title.strain.new'|trans }}</a>
    </div>
{% endblock %}
