{% extends 'my_seeds/base.html.twig' %}

{% block title %}MySeeds index{% endblock %}

{% block body %}
    <h1>{{ 'strain.index.title'|trans }}</h1>
    <a href="{{ path('app_my_seeds_new') }}"><i class="bi bi-plus-circle button_action"></i> {{ 'form.title.strain.new'|trans }}</a>
    <table class="table datatables bg-transparent"  data-url="{{ path('app_my_seeds_ajax') }}" data-noimg="{{ asset('img/no-img.png') }}">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Seeder</th>
                <th>Quantity</th>
                <th>Duration</th>
                <th>Auto</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
    </table>

    <a href="{{ path('app_my_seeds_new') }}"><i class="bi bi-plus-circle button_action"></i> {{ 'form.title.strain.new'|trans }}</a>
{% endblock %}
